* {
    padding: 1;
    margin: 1;
}


/* UBICACIONES DEL CUERPO DEL TRABAJO */
.container_cuerpo >*{
    box-shadow:  1px 2px 4px 1px rgb(49, 46, 46);
    
}
.menus {
    grid-area: menus;
    background-color: beige;
}

.section1 {
    grid-area: section1;
    background-color: aliceblue;
    border-radius: 20px;
}

.section2 {
    grid-area: section2;
    background-color: rgb(96, 168, 231);
    border-radius: 20px;
}

.section3 {
    grid-area: section3;
    background-color: rgb(96, 168, 231);
    border-radius: 20px;
}

.section4 {
    grid-area: section4;
    background-color: rgb(17, 13, 13);
    border-radius: 20px;
}

footer {
    grid-area: footer;
    background-color: aliceblue;

}

/* DECORACION DEL HTML */

h1{
    text-align: center;
    font-size: 30px;
}
p{
    padding: 20px 20px;
    margin-top: -18px;
    font-family: Tahoma;
    font-size: 15px;
    text-align: justify;
}

.menus ul{
     list-style: none;
     font-size: 30px;
     font-family: Tahoma;
     margin: 24px 0px 0px 128px;
}

.menus li{
    display: inline;
    margin-left: 24px;
}

.menus a{
    text-decoration: none;
    color: black;
}

.menus a:hover{
    text-decoration: none;
    color: grey;
}

footer{
    background-image: url(/img/footer_img.png);
}

footer img{
    width: 10%;
    margin-top: 30px;
    margin-left: 40px;
}







/* SECCION DECORACION DE SLIDER */
.slider{
    margin-top: 1%;
    margin-left: -8%;
    width: 110%;
}

.navbar {
    margin-block-start: -6px;
    grid-area: navbar;
}

.slider {
    text-align: center;
    overflow: hidden;
}

#imagenes {
    margin: 0;
    left: 0;
    display: flex;
    width: 500%;
    height: 100%;
    animation: 15s slidy infinite alternate linear;
    animation-timing-function: step-start;
}

li {
    width: 100%;
    list-style-type: none;
}

img {
    object-fit: cover;
    width: 90%;
    height: 60%;
    border-radius: 4px;
}

@keyframes slidy {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    40% {
        margin-left: -100%;
    }
    60% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    80% {
        margin-left: -200%;
    }
    90% {
        margin-left: -300%;
    }
    100% {
        margin-left: -400%;
    }
}



/* SECCION DECORACION DE SLIDER 2*/
.slider2{
    margin-top: 2%;
    margin-left: -8%;
    width: 110%;
}

.navbar2 {
    margin-block-start: -6px;
    grid-area: navbar;
}

.slider2 {
    text-align: center;
    overflow: hidden;
}

#imagenes2 {
    margin: 0;
    left: 0;
    display: flex;
    width: 500%;
    height: 100%;
    animation: 15s slidy infinite alternate linear;
    animation-timing-function: step-start;
}

.section4 li {
    width: 100%;
    list-style-type: none;
}

.section4 img {
    object-fit: cover;
    width: 75%;
    height: 60%;
    border-radius: 4px;
}

@keyframes slidy {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    40% {
        margin-left: -100%;
    }
    60% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    80% {
        margin-left: -200%;
    }
    90% {
        margin-left: -300%;
    }
    100% {
        margin-left: -400%;
    }
}




/* UBICACION DEL CUERPO DEL HTML(RESPONSIVE) */
.container_cuerpo {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "menus"
        "section1"
        "section2"
        "section3"
        "section4"
        "footer"
    ;
}


@media (min-width: 1080px){
    .container_cuerpo{
        grid-template:
    
        "menus menus menus menus" 100px 
        "section1 section1 section1 section1" 500px
        "section2 section2 section3 section3" 420px
        "section4 section4 section4 section4" 440px
        "footer footer footer footer" 230px /
        250px auto 250px;
    }
}